# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate arithmetic expression evaluation in Python
- Discuss open-source tools used for Data Science development environments
- Understand the importance of using the right tools for Data Science projects

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. **NumPy**
2. **Pandas**
3. **Matplotlib**
4. **Scikit-learn**
5. **TensorFlow**

| **Data Science Tools** |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

### Below are a few examples of evaluating arithmetic expressions in Python.

You can use Python to perform basic arithmetic operations like addition, subtraction, multiplication, and division. Here are some examples:

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tarek Ahmed